<main>
  @if (uiStore.modalOpen()) {
  <app-modal />
  }
  <div
    class="grid grid-cols-4 gap-x-4 gap-y-4 items-center p-4 xl:px-8 xl:grid-cols-12"
  >
    <div class="flex flex-col col-span-full space-y-2">
      <app-agent-selector />
      <div class="flex flex-wrap gap-x-2 lg:ml-auto">
        <label for="from-input">From</label>
        <input
          id="from-input"
          type="date"
          [value]="this.uiStore.fromAsInputString()"
          (input)="onFromChange($event)"
        />
        <label for="to-input">To</label>
        <input
          id="to-input"
          type="date"
          [value]="this.uiStore.toAsInputString()"
          (input)="onToChange($event)"
        />
      </div>
      <hr />
      <div class="flex flex-wrap gap-4">
        @if (!missionStore.isLoading()) { @for (mission of
        missionStore.missions(); track $index) {
        <app-mission-legend
          [color]="mission.color"
          [title]="mission.title"
          [value]="mission.id"
        />
        }
        <app-mission-legend title="Congés" [value]="-1"></app-mission-legend>
        } @else {
        <h1>loading...</h1>
        }
      </div>
      <button
        class="px-2 py-1 ml-auto w-min text-white bg-blue-600 rounded-md"
        (click)="uiStore.openModal()"
      >
        Ajouter
      </button>
    </div>
    <span class="text-center xl:col-span-2">Date</span>
    <span>0:00</span>
    <span class="-col-start-2 text-end">23:59</span>
    @if (!activityStore.isLoading()) { @for (date of dates(); track $index) {
    @if ($index > 0 && date.date() === 1) {
    <div
      class="flex col-span-full items-center text-gray-700 [&>hr]:border-gray-700"
    >
      <hr class="w-full" />
      <span class="px-1 capitalize">{{ date.format("MMMM") }}</span>
      <hr class="w-full" />
    </div>
    }
    <span class="col-start-1 text-center xl:col-span-2">{{
      date.format("DD/MM/YYYY")
    }}</span>
    <app-timebar
      class="col-span-3 xl:col-span-10"
      [activities]="getActivityCollectionFromMoment(date)"
    />
    } } @else {
    <h1 class="col-span-full text-center">loading...</h1>
    }
  </div>
</main>

<router-outlet />
